html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'Gugi', cursive;
}

html{
 background-color: #184a73;
}

    #logoImg{
        height: 285px;
        margin: 55px;
    }
    #boxesLower {
        margin: 0 9px;
    }
    #boxesLower > div {
        display: flex;
    }
    #boxesLower > div > div {
        flex: 1 1 auto;
        margin: 0 9px 18px 9px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    .boxLowerHeader{
        font-size: 1em;
        margin: 0 0 5px 10px;
    }

    .boxUpperHeader{
        font-size: 2em;
        margin: 0 0 5px 10px;
    }
    #boxUpper {
        margin: 0 9px;
    }
    #boxUpper > div {
        display: flex;
    }
    #boxUpper > div > div {
        flex: 1 1 auto;
        margin: 9px 9px 18px 9px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    #boxStatsLeft{
		background-color: #c3423d; 
        border: solid 1px #2e4668;
        border-radius: 5px;
    }

    #boxStatsCenter{
		background: #343f4d;
        border: solid 1px #2e4668;
        border-radius: 5px;
    }
    #boxStatsRight{
		background: #51aa3a;
        border: solid 1px #2e4668;
        border-radius: 5px;
    }

	.boxStats{
        color: #ffffff;
    }
    .boxStatsList{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        opacity: 0.77;
        margin-bottom: 5px;
        flex: 1 1 auto;
        align-content: left;
    }
    .boxStatsList i.fa{
        height: 15px;
        width: 33px;
        text-align: center;
    }
    .boxStatsList > div{
        padding: 5px 20px;
    }
    .boxStatsList > div > div{
        padding: 3px;
    }
    #topCharts{
        padding: 18px;
    }

    #topCharts > div > div > svg{
        display: block;
        height: 240px;
    }
    .chartWrapper{
		background-color: #d8b217;
        border: solid 1px #2e4668;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 8px;
    }

    .chartLabel{
        font-size: 1.2em;
        text-align: center;
        padding: 4px;
    }

    .chartHolder{
		background-color: #ffffff; 

    }
	.startText > span{
	white-space: pre;
}
 th{
	background-color: #51aa3a;
 }
    
 table {
	width: 100%;
}
    .hidden{
        display: none !important;
    }

